
.doctor-app {
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    min-height: 87vh;
    background-image: url("../../../public/assets/medical.jpeg");
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
    
    
  }
  
  .form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #b5eeee;
    opacity: 90%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .add-doctor-form .form-group {
    margin-bottom: 15px;
  }
  
  .add-doctor-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    
    color: rgb(215, 24, 132);
  }
  
  .add-doctor-form input,
  .add-doctor-form select {
    width: 100%;
    padding: 8px;
    border: 2px solid #167193;
    border-radius: 4px;
  }
  
  .add-doctor-form button {
    width: 100%;
    padding: 10px;
    color: #fff;
    background-color: rgb(77, 149, 216);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    
  }
  
  .add-doctor-form button:hover {
    background-color: #de473afe;
  }

 
  